/* ukuran lg atau dsktop  */
@media screen and (max-width: 1160px) {
  /* hero section */
  .header .hero-img {
    height: 100vh;
    width: 100%;
    background-position-x: 90%;
    background-position-y: 100%;
  }
}

/* ukuran md atau tablet */
@media screen and (max-width: 991px) {
  /* hero section */
  .header .hero-img {
    background-position-x: 100%;
    background-position-y: 100%;
  }
  .hero-img .judul {
    line-height: 30px;
    top: 30%;
    left: 5%;
  }
  .nama .im {
    font-size: 40px;
  }
  .nama h1 {
    font-size: 60px;
  }
}

/* tampilan handphone lanscape  */
@media screen and (max-width: 767px) {
  #collapse .resume {
    text-align: center;
  }
  .alamat p {
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
  }
  figure .pertama {
    text-align: center;
  }
  .back-to .back {
    bottom: 3%;
    right: 2%;
    color: orange;
  }
  .to-wa .icon-tele {
    bottom: 15%;
    right: 2%;
    position: fixed;
    z-index: 999;
  }
}

/* tampilan sm atau hanphone */
@media screen and (max-width: 500px) and (min-width: 480px) {
  /* hero section */
  .header .hero-img {
    background-position-x: 100%;
    background-position-y: 150%;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .hero-img .judul {
    line-height: 7px;
    top: 50%;
    left: 12%;
    text-align: center;
  }
  .nama h1 br {
    display: none;
  }
  .nama h1 {
    font-size: 40px;
    line-height: 35px;
    letter-spacing: 5px;
  }
  .nama .download button {
    width: 35%;
    height: 40px;
  }
  /* sectio my resume */
  #collapse .resume {
    text-align: center;
  }
  .portfolio-foto figure img {
    width: 100%;
  }
  /* section alamat & maps */
  .biodata .alamat {
    text-align: center;
    margin-bottom: 40px;
  }
  .alamat p {
    font-size: 21px;
    letter-spacing: 4px;
  }
}

/* ukuran xsm handphone potret */
@media screen and (max-width: 381px) {
  /* hero section */
  .header .hero-img {
    background-size: cover;
    background-position: center;
  }
  .hero-img .judul {
    line-height: 7px;
    top: 70%;
    left: 5%;
    text-align: center;
  }
  .nama h1 br {
    display: none;
  }
  .nama h1 {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 5px;
  }
  .nama .download button {
    width: 40%;
    height: 40px;
  }
  /* sectio my resume */
  #collapse .resume {
    text-align: center;
  }
  .portfolio-foto figure img {
    width: 100%;
  }
  /* section alamat & maps */
  .teknologi img {
    width: 5%;
  }
  .biodata .alamat {
    text-align: center;
    margin-bottom: 40px;
  }
  .alamat p {
    font-size: 15px;
    letter-spacing: 2px;
  }
  .back-to .back {
    position: fixed;
    z-index: 999;
    bottom: 3%;
    right: 2%;
    color: orange;
  }
  .to-wa .icon-tele {
    bottom: 10.5%;
    right: 2%;
    position: fixed;
    z-index: 999;
  }
}
